.pagination__container {
    display: flex;
    justify-content: center;
    gap: 4px;
    list-style-type: none;
}

.pagination__item {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.87);
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    box-sizing: border-box;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
}

.pagination__item:not(.pagination__selected, .pagination__dots):hover {
    background-color: rgba(255, 255, 255, 0.09);
    cursor: pointer;
}

.pagination__arrow__left {
    position: relative;
    /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
    content: '';
    /* By using an em scale, the arrows will size with the font */
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.12em solid rgba(255, 255, 255, 0.87);
    border-top: 0.12em solid rgba(255, 255, 255, 0.87);
    transform: rotate(-135deg) translate(-50%);
}

.pagination__arrow__right {
    position: relative;
    /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
    content: '';
    /* By using an em scale, the arrows will size with the font */
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.12em solid rgba(255, 255, 255, 0.87);
    border-top: 0.12em solid rgba(255, 255, 255, 0.87);
    transform: rotate(45deg);
}

.pagination__selected {
    background-color: rgba(255, 255, 255, 0.08);
}

.pagination__dots {
    cursor: default;
    background-color: transparent;
}

.pagination__dots:hover {
    background-color: transparent;
    cursor: default;
}
